body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* .column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
} */


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 100%;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}