body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
